
.badge {
    @apply inline-flex items-center px-3 py-0.5 rounded-full text-base font-medium whitespace-nowrap my-auto cursor-default;
}

.badge-blue {
    color: #2196F3;
    background: rgba(33, 150, 243, 0.1);
    @apply badge;
}

.badge-blue-square {
    @apply badge-blue rounded cursor-pointer !important;
}

.badge-yellow {
    color: #F0E835;
    background: rgba(240, 232, 53, 0.1);
    @apply badge;
}

.badge-yellow-square {
    @apply badge-yellow rounded cursor-pointer !important;
}

.badge-orange {
    @apply bg-orange-500/10 text-orange-500/80 badge;
}

.badge-orange-square {
    @apply badge-orange rounded cursor-pointer !important;
}

.badge-green {
    color: #4cae50;
    background: rgba(76, 174, 80, 0.1);
    @apply badge;
}

.badge-green-square {
    @apply badge-green rounded cursor-pointer !important;
}

.badge-red {
    color: #B32826;
    background: rgba(179, 40, 38, 0.1);
    @apply badge;
}

.badge-red-square {
    @apply badge-red rounded cursor-pointer !important;
}

.badge-gray {
    @apply badge bg-gray-800;
}

.badge-gray-square {
    @apply badge-gray rounded cursor-pointer !important;
}

.badge-violet {
    color: #714DCB;
    background: rgba(113, 77, 203, 0.1);
    @apply badge;
}

.badge-violet-square {
    @apply badge-gray rounded cursor-pointer !important;
}
