@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #333;
    color: #ffffff;
    height: 100%;
    @apply text-lg
}

.table th {
    @apply border border-dark py-2
}

.table td {
    @apply border border-dark py-1
}

.input-group {
    @apply mt-5
}

.input-text {
    @apply block rounded-sm p-1 flex justify-center bg-gray-500 text-center
}

.input-select {
    @apply input-text
}

.input-error {
    @apply text-red-500 text-sm flex justify-start
}

.table {
    @apply border border-dark w-full text-center bg-light
}
