@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: #333;
    color: #ffffff;
    height: 100%;
    @apply text-lg
}

.table th {
    @apply border border-dark py-2
}

.table td {
    @apply border border-dark py-1
}

.input-group {
    @apply mt-5
}

.input-group > .input-checkbox {
    @apply form-check-inline
}

.input-text {
    @apply block rounded-sm p-1 flex justify-center bg-gray-500 text-center
}

.input-checkbox {
    @apply form-check-input appearance-none h-5 w-5 border rounded-sm bg-white transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer
}

.input-select {
    @apply input-text
}

.form-submit {
    @apply flex flex-row justify-end mt-5
}

.input-error {
    @apply text-red-500 text-sm flex justify-start
}

.table {
    @apply border border-dark w-full text-center bg-light
}
